streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters

langchain-mistralai
mistralai

sentence-transformers

pypdf
beautifulsoup4

chromadb<1.0

transformers
protobuf==3.20.3